/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 de nov. de 2020, 17:06:33
    Author     : Admin
*/

/*Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/*Body*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

/*Titulos web 400*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400&display=swap');

/*Body web 300*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


/*Texto body*/ 
@font-face {        
    font-family: 'Source Sans Pro';
    src: url("../font/SourceSansPro-Regular.ttf");
}

/*Texto sobre e msg contato*/ 
@font-face {        
    font-family: 'Source Sans Pro Ital';
    src: url("../font/SourceSansPro-LightItalic.ttf");
}

/*Texto sobre, habilidade e btn contato*/ 
@font-face {        
    font-family: 'Source Sans Pro Light';
    src: url("../font/SourceSansPro-Light.ttf");
}


/*Tags sendo zeradas*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,
em, img, strong, ul, li, 
footer, header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    list-style:none;
    text-decoration: none;
    color: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    color: #28292d;
    font-size: 0.95em;
    font-family: 'Source Sans Pro Light';
}

/*1° coluna Nav*/
.col-1 {
    background: #28292d;
    color: #a2a2a2;
    position: fixed;
    width: 18%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*2° coluna Main*/
.col-2 {
    display: flex;
    flex-direction: column;
    margin-left:17.72%;
}



footer {
    background-color: #28292d;
    padding: 2em 2em 2em 2em;
}

/*Borda geral de espaço interno*/
#sobre, #portfolio  {
    padding: 0.4em;
}

/******Inicio efeito para a logo,title e sub*****/

.topo{
    margin-top: calc(24% + 0vh);
    text-align: center;
}

.image {
    border: 0;
    position: relative;
    display: flex;
    margin-left: calc(35% - 1em);
    margin-right: calc(35% - 1em);

}

/*Define tamanho da foto da logo*/
.image.perfil img {
    border-radius: 100%;
    width: 100%;
}


.shadow::before, .shadow::after {
    z-index: -1;
    content:'';
    position: absolute;
    width: calc(100% + 6px); 
    height: calc(100% + 6px); 
    top: -3px;
    left: -3px;
    background: linear-gradient(45deg, 
        #a2a2a2, #33ffcc, #28292d,
        #a2a2a2, #33ffcc, #28292d, 
        #a2a2a2, #33ffcc, #28292d
        );

    background-size: 300%;
    animation: shadow 15s linear infinite;

    border-radius: 100%;
}

/*Efeito de sombra*/
.shadow::after {
    filter:blur(10px);

}

@keyframes shadow {
    0%{background-position:0 0;}
    50%{background-position:300%;}
    100%{background-position:0 0;}

}

.title {
    /*Distancia da logo*/ 
    padding: 0.4em 0 0 0;
    color:#ffffff;
    font-size: 1.3em;
}

.subtitulo {
    padding: 0 0 0 0;
    font-size: 1em;

}

/******Fim efeito para a logo,title e sub*****/

/****Inicio do nav*****/

#nav ul {
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    margin: calc(2% + 2.2vh);
}

/*Efeitos no nav*/
nav a {
    text-decoration: none;
    display:inline-block;
    padding: 0 0px 0 10px ;
    background-image: linear-gradient(120deg, transparent 50%, #33ffcc 50%);
    background-size: 300%;
    transition: all 0.4s;
    letter-spacing:2px;
    border-radius: 3px;
    line-height: calc(0% + 6vh);
    white-space:nowrap;
    font-size: 1.15em ;
}


.nav a:hover{
    background-position: 100%;
    color:#28292d;   
    transform: translateX(16px);

}

.nav i {
    margin: 0 10px;
}

/****Fim do nav*****/

/****Inicio icones redes sociais*****/

.icons ul{
    position: absolute;
    bottom: 1.5em;
    align-items:flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: calc(100% - 0vh);
}

/*Tamanho dos icones para ser o mesmos*/
.icons i{
    font-size: 1.15em ;
}

.icons a {
    padding: 0 1em 0 1em;
}

.icons a:hover {
    color: #33ffcc;
}

/****Fim icones redes sociais*****/

.titulopagina{
    text-align: center;
    padding: 1em 0 1.2em 0;
    font-size: 15.5pt;
    color:  #28292d;
    font-family: 'Source Sans Pro';
}


/*Inicio - botão Topo*/
#myBtnTopo {
    display: none; 
    position: fixed; 
    padding: 0.5em;
    bottom: 6em; 
    right: -14px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #28292d; 
    color: #ffffff;  
    cursor: pointer; 
    border-radius: 3px; 
    transform: rotate(-270deg);
    letter-spacing:1.2px;
    box-shadow: 0.1px 0px 0px 1px #ffffff;

}

#myBtnTopo:hover {
    background-position: 100%;
    color: #28292d;
    background-image: linear-gradient(120deg,transparent 50%, #33ffcc 50%);
    background-size: 250%;
    transition: all 0.4s;
    box-shadow: none;
}

/*Faz o icone ficar piscando*/
@keyframes fa-blink {
    100% { opacity: 0; }
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}

/*Fim - botão Topo*/

/*///Inicio do menu lateral responsivo\\\\*/


/*Oculta o menu e X lateral para resolução acima de 1024px*/
.closebtn, .bt_menulateral {
    display: none;
}


/*Inicio botão animado do menu responsivo*/

/*Oculta o menu e X lateral para resolução acima de 1024px*/
.closebtn, .bt_menulateral {
    display: none;
}

/*Inicio botão animado do menu responsivo*/
input[type='checkbox']{
    display: none;    
}

.open{
    width: 30px;
    position: relative;
    left: 10px; 
    top: 12px; 

}

.open, .open::before, .open::after{
    height: 3px;
    background-color: #28292d;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.50,-0.05,0.60,0.53);
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(120deg, transparent 50%, #33ffcc 50%);
    background-size: 300%;
    transition: all 0.4s;
    box-shadow: 0.1px 0px 0px 1px #ffffff;
}

.open:hover, .open:hover::before, .open:hover::after{
    background-position: 100%;
    color:#33ffcc;   
    box-shadow: none;
}

.open::before, .open::after{
    content: "";
    width: 15px;
    position: absolute;
}

.open::before{
    transform: translateY(-9px);
    transform-origin: right;
}

.open::after{
    transform: translateY(9px);
    right: 0;
    transform-origin: left;
}

input[type="checkbox"]:checked + label .open::before{
    transform: translate(0) rotate(450deg);  
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label .open{
    transform: rotate(45deg);
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label .open::after{
    transform: translate(0) rotate(450deg); 
    background-color: #ffffff;
}

/*Fim botão animado do menu responsivo*/

/*///Fim do menu lateral responsivo\\\\*/


/*Inicio do novo Inicio*/

.inicio{
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding: calc(36% + 0vh);
    background-image: url("../img/slider/slider11l.jpg");
    background-size: 82%;
    background-position: 100% 0%;
    border: none;
    clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
}


/*Fim do novo Inicio*/

/*Inicio do novo Sobre*/

#sobre{
    padding-bottom: 5em; 
}

.sobtextoimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2em;
}

/*Cria uma margem/espaço entre as duas classe*/
.sobtexto, .imgsob0{
    padding: calc(0.5% - 0px);
    /*Reduz o texto e a imagem sem destorcer a qualidade dentro de 100vh da 
  classe .sobtextoimg */
    max-width: 50%; 
}

.sobtexto h3{
    padding-bottom: 0.5em ;
}

/*Redimencionamento da imagem sem afetar a qualidade e o objeto acima*/
.imgsob0 img{
    max-width: 100%;  
    padding-top: 2em;
}

h3.nome{
    color: #28292d;
    font-size: 16pt;
    line-height: 1em;
    letter-spacing: 0.09em;
    font-family: 'Source Sans Pro';
}

.sobtexto p{
    line-height: 1.15em;
}


/*Fim do novo Sobre*/

/*Inicio do novo Educação*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.background-edu{
    width: 100%;
    background-color: #28292d;
}

.container {
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 80%;
    background: #ffffff;
    z-index: 0;
    margin-top: 37px; 
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.green {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #33ffcc;
    background: #28292d;
    z-index: 0;
}

.white {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #ffffff;
    z-index: 0;
}

.green, .white{
    margin: 10px 0;
}

.timeline-content {
    width: 100%;
    padding: 0 15px;
    color: #33ffcc;
}

.timeline-content h3 {
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 15px;
}

.timeline-content span {
    color: #ffffff;
}

.timeline-content p {
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 0px;
}

/*Fim do novo Educação*/

/*Inicio do novo habilidade*/

#habilidade{
    padding-bottom: 8em;
}

.iconeshabilidade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.iconeshabilidade p{
    padding: 0px 70px 20px 70px;
}

.iconeshabilidade, .iconImg h4{
    text-align: center;
    padding: 0px 8px 8px 8px;
}

.iconImg h4{
     font-size: 0.85em;
}

/*Fim do novo habilidade*/

/*///Inicio do Portfolio\\\\*/

/*Titulo e botões*/
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.port{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}


/*Moldura interna/externa */
.contentPort {
    background-color: #28292d ;
    padding: 1.0px 1.0px 1.0px 1.0px;
    border-radius: 3px ; 
}

.contentPort h4{
    color: #ffffff;
    font-size: 0.9em;
    line-height: 0.9em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    text-align: center;
}


/* Moldura externa crie 4 colunas iguais que flutuam 
próximas uma da outra */
.columnPort {
    /*Divisão para 4*/
    width: 33.33%;    
    /*width: 25%;*/
    /*width: 20%;*/
    display: none; 
    padding:0.3em 0.3em;
}

/* Limpar flutuadores após linhas */
.port:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilize os botões da galeria */
.btn_filtro {
    border: none;
    outline: none;   
    padding: 0.8em;
    margin: 2em 0.17em 3em 0.17em;    
    background-color: #F6F8F7;
    border-radius: 3px;
    cursor: pointer;
    color: #28292d;
}

/* Adicione uma cor de fundo cinza ao passar o mouse nos botoes */
.btn_filtro:hover {
    background-position: 100%;
    color:#28292d;
    background-image: linear-gradient(120deg,transparent 50%, #33ffcc 50%);
    background-size: 250%;
    transition: all 0.4s;
}


/* Adicione uma cor de fundo escura ao botão ativo */
.btn_filtro.active {
    background-color:#28292d;   
    color:#ffffff;
    background-image: none;
}

/* A classe "show" é adicionada aos elementos filtrados no js*/
.showPort {
    display: block;
}

.contentPort img {
    border-radius: 3px;
    width: 100%;
}

/*////////////MODAL-LIGHTBOX\\\\\\\\\\\\*/ 


/*Posição da img em todas a telas e efeito de fundo transparente*/
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content, #bt_close {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 4%;
}

#modal_img{
    max-width: 100vh;
}

/*Faz a img do modal expandir e se autoajustar no centro da tela conforme o tamanho dela*/
.modal_content, #modal_img{
    max-width: 100%;
    max-height: 100vh;
    /*Faz a img ir crescendo e diminuindo ao fechar 
"ativando valor 1 no .modal_active #modal_img"*/
    transform: scale(0.8);
    transition: all linear .3s;
    border-radius: 3px;
}

.modal_active{
    visibility: visible;
    opacity: 1;
}

.modal_active #modal_img{
    transform: scale(1);
}

.small_img{
    height: 100%;
    cursor: pointer;
    /*Deixa a animação mais suave*/
    transition: all linear 0.3s;
    border-radius: 3px;
}

/*Animação na imagem em preto e branco 
e com efeito de zoom*/
.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

/*Botão fechar do modal*/
#bt_close {
    color: #ffffff;
    background-color: #28292d;
    margin: 0 0 0.5em 0;
    padding: 0.2em 0.4em;
    font-size: 25px;
    border-radius: 3px;
    border: none;
    outline: none;    
    transition: all ease-out 1.5s;
    cursor: pointer;
}

#bt_close:hover{
    background-position: 100%;
    color: #28292d;
    background-image: linear-gradient(120deg,transparent 50%, #33ffcc 50%);
    background-size: 250%;
    transition: all 0.4s;
}

/*///Fim do Portfolio\\\\*/


/*///Inicio do contato\\\\*/

.contato{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    margin-bottom: 6em;   
}

.contato i{
    list-style:none;
    text-decoration: none;
}

/*Cria uma margem/espaço entre as duas classe*/
.continfo, .imgcont1{
    margin: calc(4% - 0px);
}

.continfo {
    text-align: center;
}

/*Redimencionamento da imagem sem afetar a qualidade e o objeto acima*/
.imgcont1 img{
    max-width: 100%;  
}

.msg{
    margin: 0 0 1.5em 0;
}

/*Texto msg contato*/ 
.msg h2{   
    font-size: 1.5em;
    font-family: 'Source Sans Pro Ital';
    white-space:nowrap;
    letter-spacing: 0.02em;
    padding: 0.5em 0 1em 0;
}

/*seta*/
.msg i{
    display: flex;
    justify-content: center;
    align-self: center;
    color:#28292d;
}

/*Texto msg contato*/ 
.msg span{
    font-size: 1.2em;
      font-family: 'Source Sans Pro';
}

/*Espaço entre o botão*/
.conttel button{
    margin: 10px 0px 0px 0px;
}

.contemail button {
    color:#ffffff;  
    background-color: #28292d;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.8em;
    width: 100%;
    white-space:nowrap;
    letter-spacing: 0.4px;
    font-size: 0.9em;
    outline: none; 
    border: none; 
    font-family: 'Source Sans Pro Light';
}

.conttel button {
    color:#ffffff;  
    background-color: #28292d;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.8em;
    width: 100%;
    white-space:nowrap;
    letter-spacing: 0.4px;
    font-size: 0.9em;
    outline: none; 
    border: none; 
    font-family: 'Source Sans Pro Light';
}

/*Efeito ao passar o mouse*/
.contemail a :hover {
    color: #28292d;
    background-position: 100%;
    background-image: linear-gradient(120deg,transparent 50%, #33ffcc 50%);
    background-size: 250%;
    transition: all 0.7s;
}

/*Feito de deslocar ao clicar*/
.contemail a :active {
    transform: translateY(4px);
}

.conttel a :hover {
    color: #28292d;
    background-position: 100%;
    background-image: linear-gradient(120deg,transparent 50%, #33ffcc 50%);
    background-size: 250%;
    transition: all 0.7s;
}

/*Feito de deslocar ao clicar*/
.conttel a :active {
    background-color: #a2a2a2;
    box-shadow:  1px #28282d;
    transform: translateY(4px);
}

.background-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f7f8f6;
    width: 100%;
    line-height: none; 
}

/*///Fim do contato\\\\*/


/*///Inicio do Footer\\\\*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    line-height: 1.5em;
    align-items: center;
    font-size: 0.95em; 
    color: #a2a2a2;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

/*///Fim do Footer\\\\*/

